streamlit
networkx
matplotlib
textblob
youtube-search-python
tiktokapi
scikit-learn
numpy
youtube-search-python @ git+https://github.com/alexmercerind/youtube-search-python.git
httpx>=0.23.0
seaborn
requests
beautifulsoup4
praw
